<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row items-start sm:items-center sm:justify-between px-6 py-4 md:px-8 border-b bg-card dark:bg-transparent">

        <!-- Loader-->
        <div class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div>
            <div class="text-2xl font-extrabold tracking-tight leading-none py-3">{{ 'NAV.inventory_item_line_up' | transloco }}</div>
        </div>

    </div>
    <div class="flex-auto h-full bg-gray-100 bg-card dark:bg-transparent px-6 overflow-y-scroll">
        <!-- Main -->
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 my-8">
            <div class="w-full mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">

                    <!-- Search -->
                    <div class="sm:col-span-6 flex flex-col flex-auto px-0 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex flex-col flex-auto mt-2 overflow-x-auto p-6">
                            <form [formGroup]="_form">
                                <div class="grid sm:grid-cols-6 gap-x-5 w-full">
                                    <div class="sm:col-span-6 md:col-span-2">
                                        <cm-input type="text"
                                                  formControlName="search"
                                                  class="w-full"
                                                  label="search"
                                                  icon="heroicons_solid:search"
                                                  placeholder="Nhập vào số phiếu"
                                                  [callbackChange]="filterByQuery.bind(this)">
                                        </cm-input>
                                    </div>
                                    <div class="sm:col-span-6 md:col-span-2">
                                        <cm-select label="NAV.sys_receiving_type"
                                                   [listData]="list_sys_receiving_type"
                                                   formControlName="receiving_type"
                                                   [callbackChange]="filterByReceiving_type.bind(this)">
                                        </cm-select>
                                    </div>
                                    <div class="sm:col-span-6 md:col-span-2">
                                        <cm-select label="inventory.line_up_status"
                                                   [listData]="list_line_up_status"
                                                   formControlName="line_up_status"
                                                   [callbackChange]="filterByLineUpStatus.bind(this)">
                                        </cm-select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Main table -->
                    <div class="sm:col-span-6 flex flex-col flex-auto px-0 bg-card shadow rounded-2xl overflow-hidden">
                        <ng-container *ngIf="listData.length > 0; else noData">
                            <div class="flex flex-col flex-auto mt-2 overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                                <table
                                        class="min-w-240 w-full mainTable"
                                        mat-table
                                        [dataSource]="listData"
                                        [trackBy]="trackByFn">

                                    <ng-container matColumnDef="function">
                                        <th class="min-w-30 text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            Chức năng
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data, index as i">
                                                <span class="flex items-center">
                                                    <button
                                                            class="ml-4"
                                                            mat-icon-button
                                                            [matMenuTriggerFor]="headerMenu">
                                                        <mat-icon
                                                                [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                                        <mat-menu #headerMenu>
                                                            <button mat-menu-item *ngIf="data.db.line_up_status !== 1"
                                                                    (click)="openDialogComponent(data, i, 3)">
                                                                <mat-icon [svgIcon]="'heroicons_outline:eye'"
                                                                          class="icon-size-5"></mat-icon>
                                                                {{'view' | transloco}}
                                                            </button>
                                                            <button  *ngIf="data.db.line_up_status==1"
                                                                     mat-menu-item (click)="openDialogComponent(data,i, 2)">
                                                                <mat-icon [svgIcon]="'heroicons_outline:collection'"
                                                                          class="icon-size-5">
                                                                </mat-icon>
                                                                {{'line_up' | transloco}}
                                                            </button>
                                                        </mat-menu>
                                                    </button>
                                                </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name" sticky>
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'so_phieu' | transloco }}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                                <span class="font-medium text-md text-secondary whitespace-nowrap">
                                                    {{data.inventory_receiving_name}}
                                                </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sys_warehouse">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'NAV.sys_warehouse' | transloco }}
                                        </th>
                                        <td mat-cell
                                            *matCellDef="let data">
                                            {{ data.warehouse_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sys_item">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{'NAV.sys_item' | transloco}}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                            {{ data.sys_item_name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sys_item_specification">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'NAV.sys_item_specification' | transloco }}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                            {{data.sys_item_specification_name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'quantity' | transloco }}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                            {{data.db.quantity_unit_main | number }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="note">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'note' | transloco }}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                        <span class="font-medium text-md text-secondary whitespace-nowrap">
                                            {{data.db.note }}
                                        </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="line_up_status">
                                        <th class="text-md font-semibold text-secondary"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            {{ 'inventory.line_up_status' | transloco }}
                                        </th>
                                        <td
                                                mat-cell
                                                *matCellDef="let data">
                                            <div class="" *ngIf="data.db.line_up_status==1">
                                        <span
                                                class="w-max py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500"
                                                transloco="inventory.not_line_up"></span>
                                            </div>
                                            <div class="" *ngIf="data.db.line_up_status==2">
                                        <span
                                                class="w-max py-0.5 px-3 rounded-full text-sm font-semibold text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500"
                                                transloco="inventory.lined_up"></span>

                                            </div>

                                        </td>
                                    </ng-container>

                                    <tr
                                            mat-header-row
                                            *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
                                    <tr class="hover:bg-gray-50 h-13"
                                        mat-row
                                        *matRowDef="let row; columns: dataTableColumns;"></tr>
                                </table>
                            </div>
                        </ng-container>

                        <mat-paginator
                                class="bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}"
                                [length]="pagination.recordsTotal"
                                [pageIndex] = 0
                                [pageSize] = 10
                                [pageSizeOptions]="[10, 20, 50, 100]"
                                [showFirstLastButtons]="true"></mat-paginator>
                        <ng-template #noData>
                            <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">Không có dữ liệu</div>
                        </ng-template>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
